@model IEnumerable<Course.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>


@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })

<hr />

@if (!Model.Any())
{
    <h4>Nothing movies added!</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
            </tr>
        }

    </table>
}