@model IEnumerable<Course.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (!Model.Any())
{

}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipType.DiscountRate) %
                </td>                
            </tr>
        }

    </table>
}
